@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 214.00 5.00% 100.00%;
    --foreground: 240 10% 3.9%;
    --card: 214.00 5.00% 100.00%;
    --card-foreground: 240 10% 3.9%;
    --popover: 214.00 4.00% 100.00%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 214.00 60.90% 46.80%;
    --primary-foreground: 0 0% 98%;
    --secondary: 244.00 10.00% 96.26%;
    --secondary-foreground: 240 10% 3.9%;
    --accent: 184.00 15.00% 96.26%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 5.46 71.86% 62.20%;
    --destructive-foreground: 0 0% 98%;
    --muted: 214.00 5.00% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 214 9.1% 90%;
    --input: 214 9.1% 90%;
    --ring: 214.00 60.90% 46.80%;
    --sidebar-background: 240 4.8% 95.9%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-primary: 221.2 83.2% 53.3%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-ring: 221.2 83.2% 53.3%;
  }

  .dark {
    --background: 214.00 12.18% 7.02%;
    --foreground: 0 0% 98%;
    --card: 214.00 12.18% 10.00%;
    --card-foreground: 0 0% 98%;
    --popover: 214.00 9.13% 9.00%;
    --popover-foreground: 0 0% 98%;
    --primary: 214.00 60.90% 39.46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 244.00 74.12% 2.06%;
    --secondary-foreground: 0 0% 98%;
    --accent: 184.00 91.77% 2.06%;
    --accent-foreground: 0 0% 98%;
    --destructive: 5.46 71.86% 62.20%;
    --destructive-foreground: 0 0% 98%;
    --muted: 214.00 12.18% 15%;
    --muted-foreground: 0 0% 63.9%;
    --border: 214 9.1% 15.9%;
    --input: 214 9.1% 15.9%;
    --ring: 214.00 60.90% 39.46%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-primary: 217.2 91.2% 59.8%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .react-pdf__Page__canvas {
      margin: 0 auto;
  }
  .prose {
    h2 {
        @apply text-3xl font-bold font-headline mb-4;
    }
    h3 {
        @apply text-2xl font-bold font-headline mb-3;
    }
    h4 {
        @apply text-xl font-bold font-headline mb-2;
    }
    p, ul {
        @apply mb-0;
    }
    li {
        @apply my-1;
    }
    strong {
        @apply text-foreground;
    }
  }
  input, textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  .selectable-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
